<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png')}}">
</head>

<body class="admin_body">
    <div style="background-color: rgba(255, 255, 255, 0.5); border: 2px solid black; border-radius: 50px;
         width: 500px; height: 500px; padding: 10px;">
        <h2>User Setup</h2>

        <input name = "email" id = "email_input" placeholder = "user email">
        <h4 style="margin-bottom: 0px; margin-top: 10px;">User list:</h4>
        <div id="user_list" style="margin-bottom: 10px;"></div>

        <button onclick="adminUpdate('remove_user')" class="button" style="margin-bottom: 10px;">Remove user</button>

        <button onclick="adminUpdate('get_data')" class="button" style="margin-bottom: 10px;">Get Data</button>
        
        <button onclick="adminUpdate('get_summary')" class="button" style="margin-bottom: 10px;">Get Summary</button>

        <i>
            <p id="status">awaiting input</p>
        </i>
    </div>

    <div style="width: 98vw; display: flex; flex-direction: row; justify-content: flex-end;">
        <a href="/planning_agent">
            <button type="button" class="button">Go to planning agent</button>
        </a>
    </div>

    <div id="logoutButton" style="margin-top: 30px; margin-bottom: 30px; width: 98vw; display: flex; flex-direction: row; justify-content: flex-end;">
        <form action="/logout" method="POST">
            <button type="submit" class="button">Logout</button>
        </form>
    </div>

    <script>
        window.onload = async () => {
            const response = await fetch("/get_data", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({action: "get_emails"})
            });
            const data = await response.json();
            data.forEach(email => updateUsers(email.content, email.role));
        };

        async function updateUsers(email, action) {
            const status = document.getElementById("status");
            const userList = document.getElementById("user_list");
            const instructorList = document.getElementById("instructor_list");
            const div = document.createElement("div");

            status.textContent = "loading...";


            if(document.getElementById(email) == null)
            {
                div.className = "user_list_item";
                div.id = email;
                div.textContent= "- " + email;
                userList.appendChild(div);
            }
            status.textContent = "completed";
            return;
        }

        async function adminUpdate(action) {
            const email = document.getElementById("email_input").value;
            const status = document.getElementById("status");
            const userList = document.getElementById("user_list");
            const instructorList = document.getElementById("instructor_list");
            const div = document.createElement("div");
            
            status.textContent = "processing...";

            await fetch("/admin_update", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({action: action, email: email})
            });

            if(action == "remove_user")
            {
                const div_to_remove = document.getElementById(email)
                if(div_to_remove != null)
                {
                    userList.removeChild(div_to_remove);
                }
                status.textContent = "completed";
                return;
            }

            status.textContent = "awaiting input";
        }
    </script>
</body>
</html>